<ul class="update-groupings">
    #foreach ($grouping in $groupings)
    <li class="grouping">
        #set ($linkedProfilePictureHtml = $grouping.updater.linkedProfilePicture)
        #set ($linkedFullNameHtml = $grouping.updater.linkedFullName)
        <div class="update-item-profile">
            $linkedProfilePictureHtml
        </div>
        <ul class="update-items">
            <div>$linkedFullNameHtml</div>
            #foreach ($updateItem in $grouping.updateItems)
            <li class="update-item">
                <div class="update-item-icon">
                    <span class="icon $updateItem.iconClass"></span>
                </div>
                <div class="update-item-details">
                    <span class="update-item-content">
                        #if ($performingHtmlExport)
                            $updateItem.linkedUpdateTargetForHtmlExport
                        #else
                            $updateItem.linkedUpdateTarget
                        #end
                    </span>
                    <span class="update-item-date">$updateItem.descriptionAndDate</span>
                    #if ($updateItem.changesLink && !$mobile)
                        <span class="update-item-changes"> $updateItem.changesLink</span>
                    #end
                    #if ($updateItem.permLink)<span class="update-item-permlink"><a href="$updateItem.permLink"><span>Permalink</span></a></span>#end
                    #if ($stringUtils.isNotBlank($updateItem.body))<div class="update-item-body">$updateItem.body</div>#end
                </div>
            </li>
            #end
        </ul>
    </li>
    #end
</ul>
#if (!$mobile)
#parse ("/com/atlassian/confluence/plugins/macros/advanced/recentupdate/more-updates.vm")
#end
