#if ($filter == 'content-type')
<div class="filter-control">
    <form class="content-filter-form"" autocomplete="off">#*This disables persisting of the select value across page refreshes*#
        $i18n.getText("content.type.filter.viewing"):
        <select class="content-filter">
            <option value="" selected="selected">$i18n.getText("content.type.filter.all")</option>
            #foreach ($entry in $contentTypes.entrySet())
            <option value="$entry.key">$i18n.getText($entry.value)</option>
            #end
        </select>
        <img class="waiting-image hidden" alt="i18n.getText('recently.updated.please.wait')" src="$staticResourceUrlPrefix/images/icons/wait.gif">
    </form>
</div>
#end
