#requireResource("confluence.macros.advanced:favpages-resources")

<div class="tabletitle"><h2>$action.getText('favourite-pages')</h2></div>
<div class="favpages-container">
    <div class="hidden favpages-i18n">
        <input type="hidden" name="favourite.remove.page" value="$i18n.getText('favourite.remove.page')">
        <input type="hidden" name="favourite.add.page" value="$i18n.getText('favourite.add.page')">
    </div>
    <table class="tableview">
        #if ($contents.size() > 0)
        <tr>
            <td colspan="2">$action.getText('displaying.favourite.pages', ["$req.contextPath/label/my:favourite"])</td>
        </tr>
        #set ($contentSublist = $generalUtil.safeSubList($contents, $maxResults))
        #foreach ($content in $contentSublist)
        <tr>
            <td>
                #contentLink($content)
            </td>
            <td class="favorite-toggle">
                <a id="entityStar-$content.id" class="favorite-toggle" title="$i18n.getText('favourite.remove.page')" href="#">
                    <span class="icon icon-remove-fav">$i18n.getText('favourite.remove.page')</span>
                </a>
            </td>
        </tr>
        #end
        #else
        <tr><td>
            $action.getText('no.favourite.pages')
        </td></tr>
        #end
    </table>
</div>