.update-item-icon {
    float: left;
}

.update-item-details {
    margin-right: 10px;
    padding-left: 21px;
}

.icon, .icon-container {
    background: no-repeat left center;
    background-size: 16px 16px;
    display: inline-block;
    font-size: 0;
    height: 16px;
    min-width: 16px;
    text-align: left;
    text-indent: -9999em;
    vertical-align: text-bottom;
}

.recently-updated ul {
    list-style-type: none;
    padding: 0;
}
